In [1]:
## Import the necessary libraries
import sqlite3
import pandas as pd
import os

In [2]:
# Paths
BASE_DIR = os.path.abspath("..")                      # github_repo/
DATA_DIR = os.path.join(BASE_DIR, "data", "raw")       # github_repo/data/raw
DB_PATH = os.path.join(BASE_DIR, "insurance.db")       # github_repo/insurance.db

In [3]:
## Connect back to the database
conn = sqlite3.connect(DB_PATH)
cursor = conn.cursor()

In [ ]:
# Now it is time to get my query going
query = """
SELECT
    c.individual_id,c.address_id,
    a.LATITUDE,a.LONGITUDE,a.STREET_ADDRESS,a.CITY,a.STATE,a.COUNTY,
    aic.curr_ann_amt,aic.days_tenure,aic.cust_orig_date,aic.age_in_years,aic.date_of_birth,aic.income,aic.Churn,
    d.has_children,d.length_of_residence,d.marital_status,d.home_market_value,d.home_owner,d.college_degree,d.good_credit,
    t.ACCT_SUSPD_DATE
FROM customer c
LEFT JOIN address a
    ON c.address_id = a.address_id
LEFT JOIN demographic d
    ON c.individual_id = d.individual_id
LEFT JOIN autoinsurance_churn aic
    on c.individual_id = aic.individual_id
LEFT JOIN termination t
    on c.individual_id = t.individual_id
ORDER BY c.individual_id
LIMIT 10;
"""

In [5]:
cursor.execute(query)
rows = cursor.fetchall()

In [6]:
# See first 5 results
for row in rows[:5]:
    print(row)

(221300017872.0, 521300005982.0, 32.578829, -96.305006, '52966 Welch Crescent', 'Kaufman', 'TX', 'Kaufman', 818.877997, 1454.0, '2018-12-09', 44, '1978-06-23', 22500.0, 0, 1.0, 15.0, 'Married', '50000 - 74999', 1, 1, 1, None)
(221300134410.0, 521300051115.0, 32.732209, -97.000893, '46887 Lawrence Green', 'Grand Prairie', 'TX', 'Dallas', 974.199182, 1795.0, '2018-01-02', 72, '1950-05-30', 27500.0, 0, 0.0, 2.0, 'Single', '50000 - 74999', 1, 0, 0, None)
(221300673028.0, 521300247929.0, 32.819776999999995, -96.846938, '787 Daniel Mews Suite 806', 'Dallas', 'TX', 'Dallas', 967.375112, 4818.0, '2009-09-23', 55, '1967-07-07', 42500.0, 0, 0.0, 10.0, 'Married', '75000 - 99999', 1, 0, 0, None)
(221301573419.0, 521300570147.0, 32.684065, -97.16218, '9846 Shaw Manor Apt. 774', 'Arlington', 'TX', 'Tarrant', 992.409561, 130.0, '2022-07-25', 53, '1969-05-25', 125000.0, 1, 1.0, 6.0, 'Married', '175000 - 199999', 1, 0, 1, '2021-12-22')
(221301622347.0, 521300588399.0, 32.751398, -97.376745, '431 David Port Apt. 164', 'Fort Worth', 'TX', 'Tarrant', 784.633494, 5896.0, '2006-10-11', 50, '1972-09-25', 87500.0, 0, 1.0, 4.0, 'Married', '225000 - 249999', 1, 1, 1, None)

In [7]:
df = pd.read_sql_query(query,conn)
conn.close()

In [8]:
print(df)

   INDIVIDUAL_ID    ADDRESS_ID   LATITUDE  LONGITUDE  \
0   2.213000e+11  5.213000e+11  32.578829 -96.305006
1   2.213001e+11  5.213001e+11  32.732209 -97.000893
2   2.213007e+11  5.213002e+11  32.819777 -96.846938
3   2.213016e+11  5.213006e+11  32.684065 -97.162180
4   2.213016e+11  5.213006e+11  32.751398 -97.376745
5   2.213027e+11  5.213010e+11        NaN        NaN
6   2.213007e+11  5.213003e+11  33.006985 -96.893972
7   2.213022e+11  5.213008e+11  33.085901 -96.648596
8   2.213029e+11  5.213011e+11  32.828468 -97.173721
9   2.213012e+11  5.213005e+11  32.753978 -96.785564

                STREET_ADDRESS           CITY STATE   COUNTY  curr_ann_amt  \
0         52966 Welch Crescent        Kaufman    TX  Kaufman    818.877997
1         46887 Lawrence Green  Grand Prairie    TX   Dallas    974.199182
2    787 Daniel Mews Suite 806         Dallas    TX   Dallas    967.375112
3     9846 Shaw Manor Apt. 774      Arlington    TX  Tarrant    992.409561
4      431 David Port Apt. 164     Fort Worth    TX  Tarrant    784.633494
5      11358 Stephanie Station         Dallas    TX   Dallas    909.916163
6  9942 Rebecca Drive Apt. 512     Carrollton    TX   Denton   1084.048271
7         58187 Roberson Walks          Allen    TX   Collin   1277.370767
8              2458 Darren Key        Bedford    TX  Tarrant    917.201036
9  32131 Robert Pike Suite 462         Dallas    TX   Dallas   1095.390747

   days_tenure  ...    income  Churn HAS_CHILDREN  LENGTH_OF_RESIDENCE  \
0       1454.0  ...   22500.0      0          1.0                 15.0
1       1795.0  ...   27500.0      0          0.0                  2.0
2       4818.0  ...   42500.0      0          0.0                 10.0
3        130.0  ...  125000.0      1          1.0                  6.0
4       5896.0  ...   87500.0      0          1.0                  4.0
5        484.0  ...   52500.0      0          0.0                  2.0
6       2896.0  ...  125000.0      0          1.0                  8.0
7       4096.0  ...   47500.0      0          0.0                 12.0
8       2107.0  ...   47500.0      1          0.0                  6.0
9       3387.0  ...   32500.0      0          0.0                 15.0

   MARITAL_STATUS  HOME_MARKET_VALUE  HOME_OWNER COLLEGE_DEGREE GOOD_CREDIT  \
0         Married      50000 - 74999           1              1           1
1          Single      50000 - 74999           1              0           0
2         Married      75000 - 99999           1              0           0
3         Married    175000 - 199999           1              0           1
4         Married    225000 - 249999           1              1           1
5         Married    125000 - 149999           1              0           1
6         Married    100000 - 124999           1              0           1
7         Married    125000 - 149999           1              0           1
8          Single      50000 - 74999           1              1           1
9         Married      25000 - 49999           1              0           0

   ACCT_SUSPD_DATE
0             None
1             None
2             None
3       2021-12-22
4             None
5             None
6             None
7             None
8       2022-12-01
9             None

[10 rows x 23 columns]